.pollquestion {
  float: right;
}
.brhalf {
  display: block;
  margin-bottom: 2em;
}

.pollcol4 {
  background-color: #f0f1ff;
  padding: 15px 15px;
}

.paginationbutton{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationbutton a{
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
  
}
.paginationbutton a:hover{
  color: white;
  background-color: #2b2eff;
}
.paginationActive a{
  color: white;
  background-color: #2b2eff;
}